# Database Configuration
DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_USER=postgres.quvkpbfekclafxegcgdv
DB_PASSWORD=Acd0174@
DB_NAME=postgres
DB_PORT=6543

# JWT Configuration
JWT_SECRET=0GidsHZu1Ir29f7w+cAt9supD3GZBkk13S1zcxdWL2DwNFR5YQG2d2l6MiD4hxbBsOYm6x+fPpdEXyxO5bG7ew==

# Server Configuration
SERVER_ID=server-a
PORT=4000

# Other Server URLs (for sync)
SERVER_A_URL=http://localhost:4000
SERVER_B_URL=http://localhost:4001  
SERVER_C_URL=http://localhost:4002 
